html,body {
    scroll-behavior: smooth;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

h1 {
    color: white;
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.05);
    line-height: 0.4;
    transform: scale(1) translateZ(0px);
}

h2 {
    color: #22549F; 
    font-size: 35px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    margin: 0;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.05);
    line-height: 0.4; 
}

h3 {
    color: #22549F; 
    font-size: 35px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    width: 100%;
    line-height: 1.5; 
}

.banner {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    background-color: #163a5f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo {
    height: 60px;
    margin-left: 20px;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navigation li {
    margin-right: 20px;
}

.navigation a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: small;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #dcdcdc;
}

#title {
    background-image: url('resources/images/PINS Introduction.jpg');
}

#introduction {
    background-image: url('resources/images/PINS Introduction_Dark.png');
}

#network {
    background-image: url('resources/images/PINS Introduction_Dark.png');
}

#composition {
    background-color: #4B5860; 
}

#sectormap {
    background-image: url('resources/images/ASA Site_Dark.png');
}

#map{
    background-color: whitesmoke; 
}

#sectordashboard {
    background-image: url('resources/images/PINS Airspace_Dark.png');
}

#sitehealth {
    background-image: url('resources/images/Sydney_Tower.png');
}

#interactivegraph {
    background-image: url('resources/images/InteractiveDashboard.png');
}

.boldtext {
    color: #163a5f;
    padding: 40px,5px;
    max-width: 800px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.6;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

.normaltext{
    color: white;
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.6;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
}

.sectiontwo {
    background-image: url('resources/images/PINs Airspace_Dark.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding-top: 20px;
    padding-right: 160px;
    padding-bottom: 20px;
    padding-left: 160px;
}

footer {
    background-color: #163a5f;
    color: white;
    padding: 20px 0;
    font-size: 14px;
}

.footer-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff50; /* Adds a slight separator */
}

.footer-logo img {
    max-width: 200px; /* Adjust based on your logo's size */
}

.footer-nav a, .footer-social a {
    display: inline-block;
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.footer-nav a:hover, .footer-social a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.word {
    display: inline-block; 
    opacity: 0;
    transform: scale(0);
    margin: 0 auto;
    font-size: 100px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(34, 84, 159, 0.5);
}

@keyframes flyInFromCenter {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    85% {
        transform: scale(1.3);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.highlight{
    font-weight: bold;
}

.dashboard-row {
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    box-sizing: border-box; 
}

.year {
    font-size: 40px;
    font-weight: bold;
    width: 100px;
    margin-right: 20px;
}

.description {
    font-size: 16px;
    max-width: 300px;
    word-wrap: break-word;
    margin-right: 20px;
}

.counters {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
    font-size: 20px;
}

.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.counter-with-unit i {
    margin-right: 30px;
    color: #fff;
    font-size: 2em;
}

.counter-with-unit {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.counter {
    font-size: 2em;
    font: weight 600px;
    color: #fff;
    margin-right: 5px;
}

.unit {
    font-size: 1em;
    color: #fff;
}

.subtitle {
    font-size: em;
    color: #FEFB78;
    text-transform: uppercase;
    margin-top: 5px; 
}

.map-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 60px;
    margin-top: 100px;
  }
  
  .flourish-map {
    flex: 0 0 60%;
    margin-right: 20px;
  }
  
  .map-description {
    flex: 1;
    max-width: 40%;
    margin-right: 40px;
    margin-top:100px;
    margin-bottom: 40px;
    font-size: 18px;

  }
